@model IEnumerable<RestaurantWebsite.Models.ProductModel>



<div id="banner-menu" class="d-flex justify-content-center align-items-center">
    <h1 class="pb-5 text-black">MENU</h1>

</div>
<div class="container py-5">

    <div id="menu" class="rounded-4 p-5">
        <div class="d-flex align-items-center mb-5">
            <img src="~/Images/wine.png" class="w-25 me-4" />
            <h1 class="title mb-0">MENU</h1>
        </div>

        <hr>
        @foreach (var product in Model)
        {
            <div class="row d-flex py-2">
                <div class="col-5">
                    <h3>@product.Name</h3>
                </div>
                <div class="col-2">
                    <p>@product.Calories</p>
                </div>
                <div class="col-2">
                    <p>£@product.Price</p>
                </div>
                <div class="col-3">

                    <a asp-action="Create" asp-controller="Review" asp-route-id="@product.Id" class="btn btn-success">Add Review</a>



                    <!--Add a edit and delete button here-->
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </div>

                
            </div>
            <hr>
        }
    </div>
</div>